<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<link rel="stylesheet" type="text/css" media="all" href="../../static/css/measurementcollection.css"
			  th:href="@{/css/measurementcollection.css}"/>
	</head>
	<body>
		<!-- Navbar -->
		<div class="navbar-fixed-top" th:fragment="header">
			<div class="container">
				<a class="navbar-brand" href="#" th:href="@{/}"></a>
				<div class="navbar-links">
					<div class="nav-item"
						 th:classappend="${#httpServletRequest.getRequestURI() == '/' || #httpServletRequest.getRequestURI() == '/index' ? 'active' : ''}">
						<a href="#" th:href="@{/}">Home</a></div>
					<div class="nav-item" th:classappend="${#httpServletRequest.getRequestURI() == '/measurements' ? 'active' : ''}"
						 sec:authorize="hasAuthority('USER')"><a href="#" th:href="@{/measurements}">Measurements</a>
					</div>
					<div class="nav-item" th:classappend="${#httpServletRequest.getRequestURI() == '/report' ? 'active' : ''}"
						 sec:authorize="hasAuthority('MANAGER')"><a href="#" th:href="@{/report}">Report</a></div>
					<div class="navbar-right" sec:authorize="isAuthenticated()">
						<form action="#" th:action="@{/logout}" method="post">
							<input type="submit" class="logout" name="logout" value="Logout"/>
						</form>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>