body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.428571429;
	color: #333;
	background-color: #fff;
	margin: 0;
}

h2 {
	margin-bottom: 15px;
}

header, main, nav {
	display: block;
}

button, input, select {
	min-height: 28px;
	padding: 2px 5px;
	border-radius: 3px;
}

.button {
	padding: 7px;
	margin-top: 7px;
	margin-bottom: 30px;
}

select.apartment {
	width: 179px;
	margin-bottom: 5px;
}

.totalWater{
	font-weight: bold;
}

input.logout {
	background: none !important;
	border: none;
	padding: 0 !important;
	font: inherit;
	cursor: pointer;
	height: 20px;
	text-transform: uppercase;
	font-weight: bold;
}

a, input.logout {
	color: #0853c4;
	text-decoration: none;
}

a:hover, a:focus, input.logout:hover, input.logout:focus {
	color: #2377f6;
	text-decoration: underline;
}

a:focus, input.logout:focus {
	outline: thin dotted #333;
	outline-offset: -2px
}

.active {
	background-color: #85b4fa;
	margin-top: -5px;
}

.navbar-fixed-top {
	position: relative;
	z-index: 1000;
	height: 65px;
	margin-bottom: 20px;
	border: 1px solid #85b4fa;
	background-color: #b6d2fc;
	right: 0;
	left: 0;
	padding: 5px;
}

.navbar-brand {
	float: left;
	background: url("../images/logo.png") no-repeat scroll left;
	width: 211px;
	height: 60px;
	margin-top: 5px;
	margin-right: 50px;
}

.navbar-links {
	float: left;
	min-width: 600px;
	max-height: 65px;
	margin: 0 25px;
}

.nav-item {
	height: 35px;
	padding: 20px;
	margin-right: 10px;
	float: left;
	text-transform: uppercase;
	font-weight: bold;
}

.navbar-right {
	height: 35px;
	padding: 20px;
	float: right !important;
	margin: 0 25px;
}

.container {
	margin-left: 10px;
	max-width: 80%;
}

table, thead, th, tr, td {
	border: 1px solid #000;
	border-collapse: collapse;
}

table {
	margin-top: 5px;
	margin-bottom: 15px;
}

thead {
	font-weight: bold;
	font-size: larger;
	background-color: #e7f0fe;
}

th {
	padding: 5px;
}

tr {
}

td {
	padding: 5px;
}

.selectError {
	border: 2px solid red;
	padding-right: 25px;
}

.inputError {
	border: 2px solid red;
	background: url("../images/input_error.png") no-repeat scroll 99%;
	padding-right: 25px;
}

.reportValueError, .reportApartmentError {
	background-color: #FFFAFA;
}

.reportApartmentError {
	color: red;
	font-weight: bold;
}

ul.errorList {
	border: 1px dotted #333;
	margin: 10px 10px 50px 10px;
	padding: 10px;
}

ul.errorList li {
	list-style: none;
	background-color: #e7f0fe;
	padding: 5px;
	margin: 3px 0;
}
