<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
>
	<head>
		<title>Measurement Collection : Error</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<link rel="stylesheet" type="text/css" media="all" href="../static/css/measurementcollection.css"
			  th:href="@{/css/measurementcollection.css}"/>
	</head>
	<body>
		<div th:replace="fragments/header :: header"></div>
		<div class="container">
			<h2>Sorry, something went wrong!</h2>
			There has been an error processing your last request.<br/>
			Please try again and if problem persists, contact a manager.

			<p>Return to <a href="index.html">home page</a>.</p>
		</div>
	</body>
</html>
