<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	<head>
		<title>Measurement Collection Page</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<link rel="stylesheet" type="text/css" media="all" href="../static/css/measurementcollection.css"
			  th:href="@{/css/measurementcollection.css}"/>
	</head>
	<body>
		<div th:replace="fragments/header :: header"></div>
		<div class="container">
			<div sec:authorize="!isAuthenticated()">
				<h2>Please log in!</h2>
				<div th:if="${param.error}">
					Invalid username and password.
				</div>
				<div th:if="${param.logout}">
					You have successfully logged out.
				</div>
				<form th:action="@{/index}" th:object="${loginApartment}" method="post">
					<div><label>Username: </label><select class="apartment" th:field="*{username}">
						<option th:each="username : ${allApartments}" th:value="${username}"
								th:text="${username}">
						</option>
					</select></div>
					<div><label>Password: <input type="password" th:field="*{password}"/> </label></div>
					<div><input class="button" type="submit" name="login" value="Login"/></div>
				</form>
			</div>

			<div th:fragment="logout" class="logout" sec:authorize="isAuthenticated()">
				<h1 th:inline="text" sec:authorize="isAuthenticated()">Hello,
					[[${#httpServletRequest.remoteUser}]]!</h1>

				<p sec:authorize="hasAuthority('USER')">Enter measurements <a href="measurements.html">here</a>.</p>
				<p sec:authorize="hasAuthority('MANAGER')">View reports <a href="report.html">here</a>.</p>
				<form action="#" th:action="@{/logout}" method="post">
					<input type="submit" name="logout" value="Logout"/>
				</form>
			</div>
		</div>
	</body>
</html>