<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
>
	<head>
		<title>Measurement Collection : Enter Measurements</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<link rel="stylesheet" type="text/css" media="all" href="../static/css/measurementcollection.css"
			  th:href="@{/css/measurementcollection.css}"/>
	</head>
	<body>
		<div th:replace="fragments/header :: header"></div>
		<div class="container">
			<div class="latestMeasurements">
				<h2>Enter Measurements</h2>

				<form th:action="@{/measurements}" th:object="${newMeasurements}" method="post">
					<ul th:if="${#fields.hasErrors('*')}" class="errorList">
						<li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
					</ul>

					<table>
						<thead>
							<tr>
								<th>Year</th>
								<th>Month</th>
								<th>Kitchen<br/>hot water</th>
								<th>Kitchen<br/>cold water</th>
								<th>Bathroom<br/>hot water</th>
								<th>Bathroom<br/>cold water</th>
							</tr>
						</thead>
						<tbody>
							<tr th:if="${latestMeasurements != null and not #lists.isEmpty(latestMeasurements)}"
								th:each="latest : ${latestMeasurements}">
								<td th:text="${latest.year}"></td>
								<td th:text="${latest.month}"></td>
								<td th:text="${latest.kitchenHot}"></td>
								<td th:text="${latest.kitchenCold}"></td>
								<td th:text="${latest.bathroomHot}"></td>
								<td th:text="${latest.bathroomCold}"></td>
							</tr>
							<tr th:unless="${latestMeasurements != null and not #lists.isEmpty(latestMeasurements)}">
								<td>No previous measurements found</td>
							</tr>
							<tr>
								<td>
									<select th:field="*{year}" th:errorclass="selectError">
										<option th:each="year : ${measurementYears}" th:value="${year}"
												th:text="${year}"></option>
									</select>
								</td>
								<td>
									<select th:field="*{month}" th:classappend="${#fields.hasErrors('year')} ? selectError : ''">
										<option th:each="month : ${measurementMonths}" th:value="${month}"
												th:text="${month}"></option>
									</select>
								</td>
								<td>
									<input type="number" step="0.001" th:field="*{kitchenHot}"
										   th:errorclass="inputError"/>
								</td>
								<td>
									<input type="number" step="0.001" th:field="*{kitchenCold}"
										   th:errorclass="inputError"/>
								</td>
								<td>
									<input type="number" step="0.001" th:field="*{bathroomHot}"
										   th:errorclass="inputError"/>
								</td>
								<td>
									<input type="number" step="0.001" th:field="*{bathroomCold}"
										   th:errorclass="inputError"/>
								</td>
							</tr>
						</tbody>
					</table>
					<div><input class="button" type="submit" name="enterMeasurements" value="Enter measurements"/></div>
				</form>
			</div>
			<div class="waterConsumption" th:object="${waterConsumption}" th:if="${waterConsumption != null}">
				<h2>Water consumption for the month</h2>

				<table>
					<thead>
						<tr>
							<th></th>
							<th>Hot water</th>
							<th>Cold water</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Kitchen</td>
							<td th:text="*{kitchenHotDelta}"></td>
							<td th:text="*{kitchenColdDelta}"></td>
						</tr>
						<tr>
							<td>Bathroom</td>
							<td th:text="*{bathroomHotDelta}"></td>
							<td th:text="*{bathroomColdDelta}"></td>
						</tr>
						<tr style="font-weight: bold;">
							<td>Total</td>
							<td th:text="*{totalHot}"></td>
							<td th:text="*{totalCold}"></td>
						</tr>
					</tbody>
				</table>

				Total water consumption per month for the apartment is <span class="totalWater"
																			 th:text="${waterConsumption.totalWater}"></span>
			</div>
		</div>
	</body>
</html>