<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	<head>
		<title>Measurement Collection : Report</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<link rel="stylesheet" type="text/css" media="all" href="../static/css/measurementcollection.css"
			  th:href="@{/css/measurementcollection.css}"/>
	</head>
	<body>
		<div th:replace="fragments/header :: header"></div>
		<div class="container">
			<div sec:authorize="!hasAuthority('MANAGER')">
				<h2>Reports page is only usable by managers!</h2>

				Return to <a href="/index.html">starting page</a>.
			</div>

			<div sec:authorize="hasAuthority('MANAGER')">

				<h2>Water Consumption Report</h2>

				<form th:action="@{/report}" th:object="${report}" method="post">
					<select th:field="*{year}">
						<option th:each="year : ${measurementYears}" th:value="${year}"
								th:text="${year}"></option>
					</select>
					<select th:field="*{month}">
						<option th:each="month : ${measurementMonths}" th:value="${month}"
								th:text="${month}"></option>
					</select>
					<input class="button" type="submit" name="selectPeriod" value="Select period"/>
				</form>

				<div th:if="${waterConsumptionList != null and not #lists.isEmpty(waterConsumptionList)}">
					<table th:object="${report}">
						<thead>
							<tr>
								<th>Apartment</th>
								<th>Hot water</th>
								<th>Cold water</th>
								<th>Total consumption</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="apRow : ${waterConsumptionList}">
								<td th:text="${apRow.apartmentName}"
									th:classappend="${apRow.anyTotalNull} ? reportApartmentError"></td>
								<td th:text="${apRow.totalHot}"
									th:classappend="${apRow.totalHot} == null ? reportValueError"></td>
								<td th:text="${apRow.totalCold}"
									th:classappend="${apRow.totalCold} == null ? reportValueError"></td>
								<td th:text="${apRow.totalWater}"
									th:classappend="${apRow.totalWater} == null ? reportValueError"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</body>
</html>